set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"
set completion-ignore-case on
set editing-mode vi
set show-mode-in-prompt on

# optionally:
# switch to block cursor before executing a command
set keymap vi-insert
RETURN: "\e\n"

"\e[5~":history-search-backward
"\e[6~":history-search-forward
"\C-a": beginning-of-line
"\C-e": end-of-line
"\C-k": kill-line
